@{
    var identificador = 0;
    identificador = ViewBag.Identificador;

    var tabla = "";
    tabla = ViewBag.Tabla;

}

<div class="row">
    <div class="form-group">
        <div class="col-md-8">
            ¿Estás seguro de eliminar el registro?
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-warning" value="Eliminar" id="btnEliminar" onclick="eliminarRegistro()" />
            <input type="submit" class="btn btn-danger" value="Volver" id="btnVolver" onclick="volverAtras()" />
        </div>
        <div id="resRegistroError" style="text-align:center; color:red">ERROR POR SALIR</div>
    </div>
</div>


    <script>

    function eliminarRegistro() {

        //debugger;

        $.ajax({
            cache: false,
            dataType: "html",
            type: "POST",
            data: { id: @identificador, tabla: "RegistroRutas"},
            url: "@Url.Action("EliminarRegistro", "Home")",
            success: function (response) {
                if (response.ok == true) {
                    $("#ModalEliminarRegistro").modal("hide");
                    window.location.reload();
                } else {
                    
                    $("#resErrorConfirmarEliminar").html(response.mensaje);
                    alert("Mi error en el else");
                }
                //alert("Registro eliminado correctamente");

            },

            error: function (response) {
                alert("Error en metodo eliminar de tabla");
                $("#resErrorConfirmarEliminar").html(response.mensaje);
            }


        });

        };


        function volverAtras() {
            $("#ModalEliminarRegistro").modal("hide");
        }

    </script>
