@{
    var identificador = 0;
    identificador = ViewBag.Identificador;

    var tabla = "";
    tabla = ViewBag.Tabla;

}

<div class="container-fluid" style="background-color:black">
    <div class="row" style="margin: 1rem">
        <div class="col" style="color:white; margin-top:3%; margin-bottom:3%; text-align:left">
            ¿Estás seguro de eliminar el registro?
        </div>
    </div>
    <div class="row" style="margin: 1rem; margin-top:3%; margin-bottom:3%; text-align:center">
        <div class="col">
            <input type="submit" class="btn btn-danger" value="Eliminar" id="btnEliminar" onclick="eliminarRegistro()" />
        </div>
        <div class="col">
            <input type="submit" class="btn btn-warning" value="Volver" id="btnVolver" onclick="volverAtras()" />
        </div>

    </div>
    <div id="resRegistroError" style="text-align:center; color:red"></div>
</div>


<script>

    function eliminarRegistro() {

        //debugger;

        $.ajax({
            cache: false,
            dataType: "html",
            type: "POST",
            data: { id: @identificador, tabla: "RegistroRutas", idUsuario: @ViewBag.IdUsuario},
            url: "@Url.Action("EliminarOcultarRegistro", "Home")",
            success: function (response) {
                if (response.ok == true) {
                    $("#ModalEliminarRegistro").modal("hide");
                    window.location.reload();
                } else {
                    $("#ModalEliminarRegistro").modal("hide");
                    window.location.reload();
                    //$("#resRegistroError").html(response.mensaje);
                    //alert("Mi error en el else");
                }
                //alert("Registro eliminado correctamente");

            },

            error: function (response) {
                alert("Error en metodo eliminar de tabla");
                $("#resRegistroError").html(response.mensaje);
            }


        });

        };


        function volverAtras() {
            $("#ModalEliminarRegistro").modal("hide");
        }

        </script>
