@{
    var identificador = 0;
    identificador = ViewBag.Identificador;

    var tabla = "";
    tabla = ViewBag.Tabla;

}

<div class="container-fluid" style="background-color:black">
    <div class="row" style="margin: 1rem">
        <div class="col" style="color:white; margin-top:3%; margin-bottom:3%; text-align:left">
            ¿Estás seguro de eliminar el perfil?
        </div>
    </div>
    <div class="row" style="margin: 1rem; margin-top:3%; margin-bottom:3%; text-align:center">
        <div class="col">
            <input type="submit" class="btn btn-danger" value="Eliminar" id="btnEliminar" onclick="eliminarPerfil()" />
        </div>
        <div class="col">
            <input type="submit" class="btn btn-warning" value="Volver" id="btnVolver" onclick="volverAtras()" />
        </div>

    </div>
    <div id="resErrorEliminarPerfil" style="text-align:center; color:red"></div>
</div>


<script>

    function eliminarPerfil() {

        debugger;

        $.ajax({
            cache: false,
            dataType: "html",
            type: "POST",
            data: { id: @identificador, tabla: "PerfilUsuario", idUsuario: @ViewBag.IdUsuario},
            url: "@Url.Action("EliminarRegistro", "Home")",
            success: function (response) {
                if (response.ok == true) {
                    $("#resEliminarPerfil").modal("hide");
                    window.location.reload();



                    //-------'Enviarte a la url de Perfiles de Usuario con el usuario y recargar la pagina'
                } else {
                    $("#resEliminarPerfil").modal("hide");
                    window.location.reload();


                    //------- 'Enviarte a la url de Perfiles de Usuario con el usuario y recargar la pagina'
                    //$("#resRegistroError").html(response.mensaje);
                    //alert("Mi error en el else");
                }
                //alert("Registro eliminado correctamente");

            },

            error: function (response) {
                alert("Error en metodo eliminar de tabla");
                $("#resErrorEliminarPerfil").html(response.mensaje);
            }


        });

        };


        function volverAtras() {
            $("#resEliminarPerfil").modal("hide");
        }

</script>

