@{
    int valor = 0;
}

@using (Html.BeginForm())
{

    <div class="container-fluid" style="background-color:black">

        <div class="row" style="margin: 1rem">
            <span class="control-label col-sm-4" style="color:white">Perfil</span>
            <div class="col-sm-8">
                <select class="form-control small" id="perfiles">
                    @{
                        foreach (var item in ViewBag.DesplegablePerfilesGeneral)
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="row" style="text-align:center; margin-top:10%">
            <div class="col">
                <input type="button" id="btnNuevoPerfil" value="Crear Perfil" class="btn btn-success" />
            </div>
        </div>

    </div>

}




<script type="text/javascript">
        $(function () {
            $("#btnNuevoPerfil").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/Home/_CrearPerfil",
                    data: '{idPerfil: "' + $("#perfiles").val() + '", idUsuario: "' + @ViewBag.idUsuario + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.ok == true) {
                            //alert("Perfil asignado correctamente");
                            $("#ModalPerfil").modal("hide");
                            window.location.reload();
                        } else {
                            alert("Ya dispones de todos los perfiles disponibles");
                            $("#ModalPerfil").modal("hide");
                            window.location.reload();
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert("Hubo algún problema...");
                    }
                });
            });
        });
</script>
